<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Interview_Kishore::kishore" sortOrder="10" title="kishore">
					<resource id="Interview_Kishore::video_index" sortOrder="10" title="video index"/>
				</resource>
				<resource id="Interview_Kishore::Video" sortOrder="10" title="Video">
					<resource id="Interview_Kishore::Video_save" sortOrder="10" title="Save Video"/>
					<resource id="Interview_Kishore::Video_delete" sortOrder="20" title="Delete Video"/>
					<resource id="Interview_Kishore::Video_update" sortOrder="30" title="Update Video"/>
					<resource id="Interview_Kishore::Video_view" sortOrder="40" title="View Video"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
